<h1>New contest</h1>

<% form_for(@contest) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :week %><br />
    <%= f.text_field :week %>
  </p>
  <p>
  	<%= f.label :winner %><br />
  	<%= f.text_field :winner %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', pictures_path %>