<h1>'HoosClues</h1>

  <li class="login"><%= link_to "Sign Up", signup_path() %></li>
|
  <li class="login"><%= link_to "Sign In", login_path() %></li>
  |
  <li class="login"><%= link_to "Sign Out", logout_path() %></li>
  
  <h3><%= link_to "Add a picture!", new_picture_path %></h3>
  
  <h3><%= link_to "View Pictures", pictures_path %></h3>

  <h3><%= link_to "See Past Contests", contests_path %></h3> 
  
  


